.plazas {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 100px);
    place-content: center;
    place-items: center;
    place-self: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border: solid black;
    background: linear-gradient(rgb(238, 77, 2), orange);

    
.imgPlazaLarrazabal {
    border: solid rgb(179, 7, 7);
}

}
