

//----------img plan--------//
.cardPlan-img-top {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    height: auto;
    width: 400px;
    border: solid black;
    border-radius: 10px;
    padding: 10px;
    place-content: center;
    place-items: center;
    place-self: center;
    background-color: coral;
}

.planTarjetas {
    background: linear-gradient(rgb(238, 77, 2), orange);
}