.profesionales {
    background: linear-gradient(rgb(238, 77, 2), orange);
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: auto;
    place-content: center;
    margin-top: 10px;
    gap: 10px;
    padding: 10px;
}

.card {
    border: solid rgb(240, 109, 2);
    padding: 10px;
}




.card-img-top {
    place-content: center;
    place-items: center;
    height: 300px;
    padding: 10px;
}

@media (max-width:767px) {

    .profesionales {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
}