.profesionales {
    background: linear-gradient(rgb(238, 77, 2), orange);
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: auto;
    place-content: center;
    margin-top: 10px;
    gap: 10px;
    padding: 10px;
}

.card {
    height: auto;
    border: solid rgb(240, 109, 2);
    padding: 10px;
}

.cardProfesionales:hover {
    background-color: rgb(224, 202, 0);
    place-content: center;
    border: solid rgb(3, 2, 0);
    border-radius: 10px;
}

.card-img-top {
    place-content: center;
    place-items: center;
    height: 300px;
    padding: 10px;
}

.btnProf {
    background: linear-gradient(rgb(238, 77, 2), orange);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    place-content: center;
    margin-top: 10px;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;


}

@media (max-width:767px) {

    .profesionales {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
}


//------Tarjeta padre-----//
.cardProfesionales {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 300px;
    background-color: rgb(201, 129, 81);
    place-content: center;
    border: solid rgb(3, 2, 0);
    border-radius: 10px;
}

//contratar profesional//
.btnProfesionales {
    width: 280px;
    place-items: center;
    place-self: center;
    place-content: center;
    margin: 10px;
    height: auto;
    background: linear-gradient(rgb(238, 77, 2), orange);
    border: solid black;
    border-radius: 10px;
    color: black;
}

//contratar profesional desplegable//
.btnProfContratacion {
    width: 280px;
    place-items: center;
    place-self: center;
    place-content: center;
    margin: 10px;
    height: auto;
    background: linear-gradient(rgb(238, 77, 2), orange);
    color: rgb(14, 9, 9);
    font-size: 1.10rem;
    border: solid black;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    text-decoration: solid;
}


//----dias y horarios--------//
.cardProfesionalesDias {
    border: solid black;
    border-radius: 10px;
    background: linear-gradient(rgb(238, 77, 2), orange);
    text-align: center;
    padding: 10px;
}